<%- include("./partials/head") %>
<link rel="stylesheet" href="/css/detail.css">
<script src="https://kit.fontawesome.com/1b35912aa7.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include("./partials/header.ejs") %>
        <main class="main-section">
            <div class="main-title">
                <div>
                    <%= title %>
                </div>
                <p>|</p>
                <div class="ctrl-total">
                    <%= total %>
                </div>
            </div>
            <div class="add-form">
                <form action="/products/<%= (edit) ? 'edit' : 'add' %>" method="post">
                    <div class="ctrl-row">
                        <div class="ctrl-form ctrl-btn">
                            <input type="submit" value="<%= (edit) ? '>>' : '+' %>">
                        </div>
                        <input type="text" name="id" value="<%= cloth_id  %>" hidden>
                        <input type="text" name="title" value="<%= title  %>" hidden>
                        <div class="ctrl-form">
                            <input type="date" name="fecha" value="<%= (edit) ? prodE.fecha : '' %>">
                        </div>
                        <div class="ctrl-form">
                            <select name="tipo">
                                <option value="INGRESO">INGRESO</option>
                                <option value="EGRESO">EGRESO</option>
                            </select>
                        </div>
                        <div class="ctrl-form ctrl-desc">
                            <input type="text" name="descripcion" value="<%= (edit) ? prodE.descripcion : '' %>" placeholder="Descripcion...">
                        </div>
                        <div class="ctrl-form">
                            <input type="text" name="ancho" value="<%= (edit) ? prodE.ancho : '' %>" placeholder="Ancho...">
                        </div>
                        <div class="ctrl-form">
                            <input type="text" name="alto" value="<%= (edit) ? prodE.alto : '' %>" placeholder="Alto...">
                        </div>
                    </div>
                </form>
            </div>
            <section>
                <div class="row-title">
                    <div class="control ctrl-title">FECHA</div>
                    <div class="control ctrl-title">TIPO</div>
                    <div class="control-desc ctrl-title">DESCRIPCION</div>
                    <div class="control ctrl-title">ANCHO</div>
                    <div class="control ctrl-title">ALTO</div>
                    <div class="control ctrl-title">TOTAL</div>
                </div>
                <% for(let el of prod) { %>
                    <article class="control-row">
                        <div class="control">
                            <p>
                                <%= el.fecha %>
                            </p>
                        </div>
                        <% if (el.tipo==="INGRESO" ) { %>
                            <div class="control ctrl-in">
                                <p>
                                    <%= el.tipo %>
                                </p>
                            </div>
                            <% } else { %>
                                <div class="control ctrl-eg">
                                    <p>
                                        <%= el.tipo %>
                                    </p>
                                </div>
                                <% } %>
                                    <div class="control-desc">
                                        <p>
                                            <%= el.descripcion %>
                                        </p>
                                    </div>
                                    <div class="control">
                                        <p>
                                            <%= el.ancho %>
                                        </p>
                                    </div>
                                    <div class="control">
                                        <p>
                                            <%= el.alto %>
                                        </p>
                                    </div>
                                    <div class="control">
                                        <p>
                                            <%= el.total %>
                                        </p>
                                    </div>
                                    <div class="control-icon">
                                        <a href="/products/delete/<%= el.id %>/<%= title %>"><i class="fa-solid fa-trash"></i></a>
                                        <a href="/products/edit/<%= el.id %>/<%= title %>"><i class="fa-regular fa-pen-to-square"></i></a>
                                    </div>
                    </article>
                    <% } %>
            </section>
        </main>
</body>

</html>