<%- include("./partials/head") %>
<link rel="stylesheet" href="/css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
</head>

<body>

    <%- include("./partials/header.ejs") %> 

    <main>
        <div class="main-section">
            <% for(let i=0; i < titles.length; i++) { %>
                <article class="article-box">
                    <h2 class="article-title">
                        <%= titles[i] %>
                    </h2>
                    <div class="control-box">
                        <form action="/products/detail" method="POST">
                            <select id="control-select" name="cloth">
                                <% for(let j=0; j < subtitles[i].length; j++) { %>
                                    <option value="<%= [subtitles[i][j].id, subtitles[i][j].name] %>">
                                         <%= subtitles[i][j].name %>
                                    </option>
                                    <% } %>
                                </select>
                            <input id="control-btn" type="submit" value="Ir">
                        </form>
                    </div>
                </article>
                <% } %>
        </div>
    </main>
</body>

</html>